body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "La Belle Aurore";
}

.dressup {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#back {
  background-color: transparent;
  background-image: url("..\..\assets\back-Photoroom.png");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
  transition: tranform 1s;
}

#back:hover {
  transform: scale(1.1);
}

#playBtn {
  background-color: #ff66c4;
  border: none;
  font-size: 22px;
  padding: 1px 1px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 55px;
  top: 17px;
}

#playBtn:hover {
  transform: scale(1.1);
}

#line1 {
  font-family: "Rampart One";
  font-size: 100px;
  font-weight: bolder;
  color: rgb(250, 128, 189);
  text-shadow: 3px 3px black;
  position: absolute;
  top: 100px;
  left: 100px;
}

#line2 {
  font-family: "Rampart One";
  font-size: 100px;
  font-weight: bolder;
  color: rgb(250, 128, 189);
  text-shadow: 3px 3px black;
  position: absolute;
  top: 200px;
  left: 150px;
}

#infopanel {
  width: 600px;
  height: 400px;
  padding: 30px;
  background-color: lightpink;
  border:#ff66c4;
  box-shadow: 3px 2px;
  font-size: 20px;
  position: absolute;
  top: 100px;
  left: 700px;
  overflow-y: scroll;
}
